body{ font-family: Arial; font-size: 12px }
td { font-family: Arial; font-size: 12px }
th { font-family: Arial; font-size: 12px }
.outset { font-family: Arial; font-size: 12px; border-left: 1px solid rgb(255,255,255); border-right: 1px solid rgb(0,0,128); border-top: 1px solid rgb(255,255,255); border-bottom: 1px solid rgb(0,0,128) }
.inset { font-family: Arial; font-size: 12px; border-left: 1px solid rgb(0,0,128); border-right: 1px solid rgb(255,255,255); border-top: 1px solid rgb(0,0,128); border-bottom: 1px solid rgb(255,255,255) }
a:link { color: rgb(192,64,0); text-decoration: none; border: 1px solid buttonface; }
a:visited { color: rgb(192,64,0); text-decoration: none; border: 1px solid buttonface; }
a:hover { background-color: buttonhighlight; color: buttontext; text-decoration: none; border: 1px outset }
.smallFont { font-family: Arial; font-size: 10px }
blockquote   { text-align: Justify; margin-left: 10px }
.sample      { color: #000000; background-color: #CCFFCC }
.wl { color: rgb(255,255,255); font-family: Arial; font-size: 12px }
.yl { color: rgb(255,255,0); font-family: Arial; font-size: 10px }

